@model HabitAqui_Software.Models.RentalContract

@{
    ViewData["Title"] = "Confirm";
}

<h1>Confirmar contrato de arrendamento</h1>
<br />
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Confirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="hasEquipments" class="control-label"></label>
                <input asp-for="hasEquipments" class="form-control" />
                <span asp-validation-for="hasEquipments" class="text-danger"></span>
            </div>           <br />
            <div class="form-group">
                <label asp-for="hasDamage" class="control-label"></label>
                <select asp-for="hasDamage" class="form-control" asp-items="ViewBag.HabitacaoId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="observation" class="control-label"></label>
                <select asp-for="observation" class="form-control" asp-items="ViewBag.userId"></select>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-danger">Voltar</a>
                <input type="submit" value="Confirmar" class="btn btn-primary tb-btn" />
            </div>
        </form>
    </div>
</div>

