@model HabitAqui_Software.Models.ViewModels.ConfirmRentalContracts
@{
    ViewData["Title"] = "Confirmar Contrato de Arrendamento";
}

<h1>Confirmar Contrato de Arrendamento</h1>
<br />
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Confirm" method="post" class="border p-4 bg-dark text-light">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rentalContract.Id" />

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="hasEquipments" class="form-check-input" />
                    <label asp-for="hasEquipments" class="form-check-label">Existência de Equipamentos</label>
                </div>
                <span asp-validation-for="hasEquipments" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="hasDamage" class="form-check-input" />
                    <label asp-for="hasDamage" class="form-check-label">Existência de Danos</label>
                </div>
                <span asp-validation-for="hasDamage" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="observation" class="control-label">Observações</label>
                <textarea asp-for="observation" class="form-control bg-dark text-light" rows="3"></textarea>
            </div>
            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>