@model HabitAqui_Software.Models.RentalContract

@{
    ViewData["Title"] = "Editar Avaliação do Cliente";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="EditClienteAval">
    <div class="form-group">
        <label asp-for="avaliacao"></label>
        <input asp-for="avaliacao" class="form-control" />
        <span asp-validation-for="avaliacao" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Salvar</button>
</form>


