@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<div class="row">
    <div class="col-md-4 border-0">
        <form id="profile-form" method="post" class="card card-body shadow-sm btn btn-dark-custom tb-btn btn-sm mb-2 text-white text-start">
            <h3 class="mb-3" class="text-start">@ViewData["Title"]</h3>

            <partial name="_StatusMessage" for="StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="text-start">
                <button id="update-profile-button" type="submit" class="btn btn-primary tb-btn">Save</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}