@page
@model LoginModel
@{
    ViewData["Title"] = "Iniciar sessão";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-8 p-2">
        <section>
            <form id="account" method="post" class="mt-8 p-4">
                <h2 class="mb-4">Inicie a sessão com uma conta existente</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="form-check-label">Lembrar-me</label>
                </div>
                <div class="mb-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-outline-light">Iniciar sessão</button>
                </div>
                <div class="mb-3">
                    <p>
                        <a asp-page="./Register" class="text-decoration-none" style="color:white" asp-route-returnUrl="@Model.ReturnUrl">Criar conta como Cliente</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
