body {
    background-color: #343a40; 
    color: white;
}

h1{
    margin: 10px;
}
.maintext{
    text-align:center;
    font-size: 30px;
    font-family: monospace;
}

.sidebar {
    background-color: #343a40;
    color: white;
    height: 100vh;
    width: 250px;
    transition: width 0.3s; 
    border-right: solid 1px white;
    position: fixed;
}

nav {
    background-color: #343a40;
    color: red;
    height: 100vh;
    padding: 20px;
}

.nav-link:hover {
    background-color: #343a40;
    font-size: 30px;
    transition: font-size 0.5s ease; /* Add a smooth transition effect */
}


.nav-item a {
    text-decoration: none;
    color: inherit;
}

    .nav-item a:hover {
        text-decoration: none;
        color: inherit;
    }

.border-bottom {
    border-bottom: 1px solid #495057;
}

.border-bottom {
    border-bottom: 1px solid #495057;
}

#toggleSidebar {
    display: none;
}

.bottom-settings {
    position: fixed; 
    bottom: 0;
    margin-bottom: 20px
}



@media (max-width: 768px) {
    .sidebar {
        display: none; /* Oculta a barra lateral em telas menores */
    }

    #toggleSidebar {
        display: block;
    }

    .sidebar-show .sidebar {
        display: block !important; /* Mostra a barra lateral quando a classe .sidebar-show é aplicada */
    }
}