body {
    background-color: #343a40;
    color: white;
    font-family: monospace;
}

h1 {
    margin: 10px;
}
.maintext{
    text-align:center;
    font-size: 30px;
}

.sidebar {
    z-index: 999;
    background-color: #343a40;
    color: white;
    height: 100vh;
    width: 250px;
    border-right: solid 1px white;
    position: fixed;
}

nav {
    background-color: #343a40;
    color: red;
    height: 100vh;
    padding: 20px;
}

.nav-link:hover {
    background-color: #343a40;
}


.nav-item a {
    text-decoration: none;
    color: inherit;
}

    .nav-item a:hover {
        text-decoration: none;
        color: inherit;
    }

.border-bottom {
    border-bottom: 1px solid #495057;
}

.border-bottom {
    border-bottom: 1px solid #495057;
}

#toggleSidebar {
    display: none;
}

.bottom-settings {
    position: fixed; 
    bottom: 0;
    margin-bottom: 20px
}



@media (max-width: 800px) {
    .sidebar {
        display: none;
    }

    #toggleSidebar {
        display: block;
    }

    .sidebar-show .sidebar {
        display: block !important;
    }

    .btn-minus {
        display: none;
    }
}

.btn-minus {
    position: fixed;
    border-radius: 100%;
    font-size: 15px;
    border: solid 1px white;
    bottom:25px;
    cursor: pointer;
    right: 40px;
    padding: 10px 15px;
    z-index: 9999;
}

.btn-minus:hover {
    color: #343a40;
}

.btn.tb-btn {
    background-color: #343a40;
    border: 1px solid white;
}

    .btn:hover {
        background-color: white;
        color: #343a40;
    }

.table {
    background-color: white;
    color: #343a40;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); 
}

    .table th,
    .table td {
        border: 1px solid white;
        
    }

    .table th {
        background-color: #343a40;
        color: white;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


#filterForm {
    display: none;
}

    #filterForm.show-filter {
        display: block;
    }