@{
    ViewData["Title"] = "Trabalho Realizado";
}

<div class="text-center">
    <h1 style="margin-top: 20px">@ViewData["Title"]</h1>
    <br />
    <br />
    <p>Pedro Rodrigues Jorge - a2021142041</p>
    <p>Luís Henrique P. O. Travassos - a2021136600</p>
    <p>Rodrigo Ramalho Ferreira - a2021139149</p>
</div>