@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Habitações</h2>
    <br />
    <hr />

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Localização</th>
                    <th>Locador</th>
                    <th>Aluguer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Casa do Pedro</td>
                    <td>Louriceira,Alcanena,Santarém</td>
                    <td>Remax</td>
                    <td>900€ / mês</td>
                    <td>
                        <button class="btn btn-sm btn-primary tb-btn"> <i class="fa-sharp fa-solid fa-plus" style="color: #ffffff; margin-right: 5px"></i>Informação</button>
                    </td>
                </tr>
                <!-- Mais linhas da tabela aqui -->
            </tbody>
        </table>
       </div>

</div>
