@model IEnumerable<HabitAqui_Software.Models.Habitacao>
@{
    ViewData["Title"] = "Habitações";
}

<div class="text-center">
    <h2 class="display-4">HabitAqui</h2>
    <br />    <br />
    
    
</div>
